.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  animation: colorfulDot 2s linear infinite;
  transition: transform 0.2s ease-in-out;
  cursor: none; /* Hide the default cursor point */
}

@keyframes colorfulDot {
  0% {
    background-color: red;
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

.custom-cursor:hover {
  transform: translate(-50%, -50%) scale(1.5);
}
